# set configuration rule for git

# custom os files
.DS_Store
*.pem

# vs code editor steup
.vscode
.idea

# notebook checkpoints
*/.ipynb_checkpoints
*.pyc
*.pickle
*.pkl
*.txt
*.csv
*.h5
*.json
*.png
*.jpg
*jpeg


# ignore data folder
weights/**
**/weights

partial_imagenet//**
**/partial_imagenet/

test_videos/**
**/test_videos

data/**
**/data

major_data_set/**
**/major_data_set


# python cache files
__pycache__
